* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  

  
  aside {
    background-color: red;
    grid-area: aside;
    height: 100vh;
  }
  
  ul li {
    padding: 20px;
  }

  body {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "header header"
      "aside main"
      "footer footer";
  }
  
  header {
    background-color: aquamarine;
    grid-area: header;
    padding: 20px;
    font-size: large;
    text-align: center;
    font-weight: bold;
  }

  main {
    background-color: blue;
    height: 200px;
    grid-area: main;
    height: 100vh;
    padding: 50px;
  }
  
  main img {
    width: 50%;
  }